# Files and directories created by pub
.dart_tool/
.packages
build/

# Remove this pattern if you wish to check in your lock file
pubspec.lock 

# Directory created by dartdoc
doc/api/

# JetBrains IDEs
.idea/
*.iml
*.ipr
*.iws
